body {
	margin: 0px;
}

h1, h2, h3, h4, p {
	margin-left: 10px;
}

img {
	width: 200px;
	height: auto;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

#sonderLogo {
	width: 70%;
	height: auto;
	padding: 25px;
}

#RCLogo {
	width: 200px;
}

h3 {
	margin-top: 40px;
	border-top: #f73e6a solid 1px;
    width: 200px;
    position: relative;
}

h1, h2, #desc {
	text-align: center;
}

header {
	background-color: #f73e6a;
	padding: 1%;
	text-align: center;
}

footer {
	/*border-top: black solid 1px;
	margin: auto;*/
	position: absolute;
	width: 100%;
	padding: 0.5%;
	text-align: center;
	background-color: #f73e6a;
}

.mask {
        position: absolute;
        top:-1px;
        left:1px;
        width:50%;
        height: 1px;
        background-color:#fff;
}

footer > a {
	color: black;
}

a {
	color: black;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

#translateButtons {
	text-align: center;
	height: 85px;
	width: 180px;
	margin: auto;
}

input {
	border: none;
}

#ice {
	float: left;
	background: url("ice.ico");
	background-size: contain;
	background-repeat: no-repeat;
	width: 50%;
	height: 100%;
}

#eng {
	background: url("eng.ico");
	background-size: contain;
	background-repeat: no-repeat;
	width: 50%;
	height: 100%;
}